@import url( 'variables.css' );
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(234, 153, 40, 0.5);
    color: rgb(23, 34, 59);
}

html, body {
    height: 100%;
    position: relative;
}

body {
    background-color: var( --color-dark-blue );
    color: var( --color-white );
    background-image: var( --background-grid );
    background-size: 40px 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cursor {
    position: fixed;
    border-radius:50%;
    width: 1px;
    height: 1px;
    transform-origin: top;
    transform: translate(1px, 5px) rotate(15deg) scale(0);
    transition: transform 0.3s;
    mix-blend-mode: color-dodge;
    animation: cursor-shadow 3s linear infinite;
}

#cursor:before {
    content: '';
    position: absolute;
}

body:hover #cursor {
    transform: translate(-1px, 5px) rotate(15deg) scale(1);
}

@keyframes cursor-shadow {
    0% {
        box-shadow: var( --cursor-box-shadow-large );
    }
    50% {
        box-shadow: var( --cursor-box-shadow-small );
    }
    100% {
        box-shadow: var( --cursor-box-shadow-large );;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

p {
    color: var( --light_secondary );
    font-weight: light;
    font-stretch: expanded;
}
a {
    color: var( --color-white );
    transition: all .5s;
    text-decoration: none;
}
a:hover {
    color: var( --color-vibrant );
    text-shadow: 0px 0px 5px var( --color-vibrant );
}