@import url( 'base.css' );
#loader-container {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    background-color: var(--color-medium-blue);
    color: var(--color-vibrant);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

#loader-container p {
    padding: 20px;
    color: var(--color-white);
}

#loader-container p span {
    color: var(--light_secondary);
}

#loader-container p small {
    color: var(--color-vibrant);
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

@import url( 'themify-icons/themify-icons.css' );
/* Main elements */
main, section {
    width: 100%;
    min-height: 100%;
}

main {
    height: 100%;
    display: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    scrollbar-width: 0;
}

section {
    /* border-bottom: 1px solid red; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

main.modal_open {
    filter: blur( 0px );
}

header .logo {
    width: 70px;
    position: fixed;
    margin: 10px 15px;
    padding: 10px 15px;
}

/* Columns */
.columns {
    padding: 50px;
    text-align: left;
}

/* Modal */

#nav_background, #modal_background {
    background-color: var( --color-dark-blue );
    opacity: 30%;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
}

#modal_background {
    display: none;
    z-index: 20;
    bottom: 0;
}

#modal_container {
    position: absolute;
    display: none;
    z-index: 21;
    bottom: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#modal_container .modal-box {
    display: none;
    background-color: var( --color-medium-blue );
    box-shadow: 0px 0px 50px var(--color-dark-blue);
    max-height: 95%;
    opacity: 0;
    z-index: 22;
    width: 80%;
    max-width: 700px;
    overflow-y: auto;
    padding: 40px 50px;
}

#modal_container .modal-box h3 {
    margin-bottom: 20px;
}

#modal_container .modal-box .close {
    cursor: pointer;
    float: right;
    margin: -20px -20px 5px 5px;
    line-height: 1;
    padding: 7px 10px;
    color: var( --color-vibrant );
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    transition: all .5s ease;
    font-stretch: extra-expanded;
}

#modal_container .modal-box .close:hover{
    transform: scale(1.2);
}

/* Navigation */
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    margin: 10px 15px;
    padding: 10px 15px;
    position: fixed;
    right: 0;
    z-index: 12;
    transition: all .5s;
}

.menu:hover {
    transform: scale(1.2);
}

.line {
    fill: none;
    stroke: var( --color-vibrant );
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
}

.line2 {
    stroke-dasharray: 60 60;
}

.line3 {
    stroke-dasharray: 60 207;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
}

aside {
    display: none;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    position: fixed;
    width: 70%;
    max-width: 400px;
    height: 100%;
    background-color: var( --color-medium-blue );
    right: 0;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 0px 50px var(--color-dark-blue);
    z-index: 11;
    transition-property: right;
    transition-duration: 1s;
}

nav {
    padding: 50px 50px 25px;
    width: 100%;
    font-stretch: expanded;
}

aside small {
    text-align: center;
    width: 100%;
    padding: 25px 50px;
    color: var( --light_secondary );
}
aside small a {
    text-decoration: none;
    color: var( --color-white );
    transition: all .5s;
}

aside small a:hover {
    color: var( --color-vibrant );
    transform: scale( 1.1 );
    text-shadow: 0px 0px 5px var( --color-vibrant );
}

nav a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: var( --color-white );
    margin: 20px 0;
    border: 1px solid li;
    text-align: center;
    transition: all .5s;
}

nav a:hover {
    color: var( --color-vibrant );
    transform: scale(1.1);
}

nav a span {
    color: var( --color-vibrant );
}

nav .selected {
    color: var( --color-vibrant );
    text-shadow: 0px 0px 5px var( --color-vibrant );
    transform: scale(1.1);
}

/* Action links */
.action-link {
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    border: 1.5px solid var( --color-vibrant );
    border-radius: 7px;
    outline-width: 1px;
    outline-offset: 0;
    outline-width: 0;
    outline-color: var( --color-vibrant );
    outline-style: solid;
    color: var( --color-vibrant );
    font-weight: 300;
}

.action-link:hover {
    animation: animateOutline 1.5s ease infinite;
    transform: scale(1.1);
    color: var( --color-white );
    text-shadow: none;
    border-radius: 0;
}

/* Home section */
.home-content {
    height: 100%;
    text-align: left;
    max-width: 80%;
    flex: content;
}
.home-content h3 {
    color: var( --color-vibrant );
    font-size: clamp( 16px, 1.2vw, 24px );
    font-weight: 400;
}
.home-content h1, .home-content h2 {
    line-height: 1;
    font-size: clamp( 40px, 8vw, 80px );
}

.home-content h1 {
    margin: 5px 0 20px;
}

.home-content h2 {
    font-size: clamp( 30px, 5vw, 80px );
    color: var(--light_secondary) ;
}
.home-content p {
    line-height: 1.5;
    font-size: clamp( 16px, 1.2vw, 24px );
    margin: 30px 0;
    max-width: 700px;
}

/* About section */
.about-container {
    width: 90%;
    max-width: 1200px;
    padding: 50px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.about-container .columns {
    width: 100%;
}
.about-container .columns:first-child {
    padding-right: 100px;
    width: 65%;
}
.about-container .columns:last-child {
    width: 35%;
}
.about-container h3 {
    margin-bottom: 20px;
}

.about-image {
    padding: 15px;
    border: 1.5px solid var( --color-vibrant );
    border-radius: 7px;
    transition: .7s ease;
}

.about-image .image-container {
    position: relative;
    width: 100%;
}

.about-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 7px;
    transition: .7s ease;
}

.about-container .overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 100%;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.about-image .text {
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.about-image:hover {
    box-shadow: 0px 0px 10px var(--color-white);
    transform: scale(1.1);
    border-color: var( --color-white );
    padding: 0;
}

.about-image:hover .overlay {
    width: 100%;
    left: 0;
}

.about-image:hover img{
    filter: grayscale( 100% );
    opacity: 40%;
}

@media ( max-width: 1000px ) {
    .about-container .columns {
        padding: 20px;
    }
    .about-container .columns:first-child {
        padding-right: 50px;
    }
}

@media ( max-width: 800px ) { 
    .about-container {
        flex-direction: column;
    }
    .about-container .columns:first-child {
        padding: 0px;
        width: 90%;
    }
    .about-container .columns:last-child {
        padding: 50px;
        width: 50%;
    }
}

@media ( max-width: 600px ) { 
    .about-container .columns:last-child {
        padding: 50px;
        width: 85%;
    }
}

@media ( max-width: 400px ) { 
    .about-container .columns:last-child {
        padding: 50px 0px;
        width: 90%;
    }
}

/* Contact Section */
.contact_content {
    max-width: 650px;
    width: 80%;
    padding: 50px 0;
}

.contact_content .action-link {
    margin: 50px 0;
}

.contact_content h3 {
    font-size: clamp( 40px, 8vw, 80px );
    margin: 20px 0;
}

.contact_content p {
    line-height: 1.5;
    font-size: clamp( 16px, 1.2vw, 24px );
}

.contact_content .soon-social {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 10.6vw 0 0 0;
}

.contact_content .social-link {
    color: var(--color-white);
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-size: clamp( 20px, 25px, 30px );
    transition: all .5s;
}

.contact_content .social-link:hover {
    color: var( --color-vibrant );
    text-shadow: 0px 0px 20px var( --color-vibrant );
    transform: scale(1.5);
}

/* Project Section */
.project_container {
    width: 90%;
    max-width: 1200px;
    padding: 50px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project_container h2 {
    font-size: 16px;
    font-weight: 400;
    color: var( --color-vibrant );
}
.project_container h2 span {
    font-size: 14px;
    vertical-align: top;
    display: inline-block;
    margin-top: .25px;
    margin-right: 5px;
}
.project_container h3 {
    font-size: clamp( 25px, 5vw, 50px );
}

.project_container .feature-container {
    min-height: 400px;
    width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px 0;
    /* flex-direction: column; */
}

.project_container .image {
    height: 400px;
    width: 50%;
    position: absolute;
    left: 0;
    transition: .7s ease;
    border-radius: 7px;
    box-shadow: 0px 0px 30px 5px var(--color-dark-blue);
}

.project_container .image::before {
    border-radius: 7px;
    transition: .7s ease;
    content: "";
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 70%;
}

.project_container .content-container {
    width: 55%;
    position: absolute;
    right: 0;
    text-align: right;
}

.project_container h4 {
    font-stretch: ultra-expanded;
    font-size: clamp( 21px, 1.8vw, 30px );
    color: var( --color-white );
    font-weight: bold;
}

.project_container .feature-container .image .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-vibrant);
    opacity: .3;
    border-radius: 7px;
    transition: .7s ease;
}

.project_container .feature-container .image:hover .overlay {
    left: 100%;
    opacity: .5;
}

.project_container .feature-container .image:hover.image:before {
    opacity: 100%;
    filter: none;
    border-radius: 0;
}

.project_container .feature-container .content {
    background-color: var(--color-medium-blue);
    margin-top: 20px;
    padding: 25px;
    color: var(--light_secondary);
    font-size: clamp( 14px, 1.1vw, 16px );
    line-height: 1.5;
    box-shadow: 0px 0px 30px 0px var(--color-dark-blue);
    z-index: 1;
}

.project_container .languages {
    padding: 20px 0;
    font-size: clamp( 13px, 1vw, 15px );
}
.project_container .languages a {
    font-stretch: extra-expanded;
    color: var( --light_secondary );
    margin-left: 15px;
}
.project_container .languages a:hover {
    color: var(--color-vibrant);
}

.project_container .feature-container .right-image {
    left: auto;
    right: 0;
}

.project_container .feature-container .left-content {
    left: 0;
    right: auto;
    text-align: left;
}

.project_container .feature-container .left-content .languages a {
    margin-left: 0;
    margin-right: 15px;
}

.project_container .other-heading {
    margin: 50px 0;
}

.project_container .other-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    width: 100%;
    z-index: 1;
}

.project_container .other-project {
    position: relative;
    text-align: left;
    padding: 30px 30px 60px 30px;
    height: 100%;
    border: 1.5px solid var(--light_secondary);
    outline-width: 1px;
    outline-offset: 0;
    outline-width: 0;
    outline-color: var( --color-vibrant );
    outline-style: solid;
    transition: .7s ease;
}

.project_container .other-project h5 {
    font-size: clamp( 18px, 1.5vw, 25px );
    font-weight: normal;
    margin-bottom: 15px;
    transition: .7s ease;
}

.project_container .other-project .languages {
    padding: 0;
    position: absolute;
    bottom: 30px;
}

.project_container .other-project .languages a {
    margin-left: 0;
    margin-right: 10px;
}

.project_container .other-project:hover {
    border-radius: 0;
    border-color: var(--color-vibrant);
    cursor: pointer;
    animation: animateOutline 1.5s ease infinite;
    transform: scale(1.05);
}
.project_container .other-project:hover h5 {
    color: var(--color-vibrant);
}

.project_container .biometric-image::before {
    background-image: url('../images/bio-metric-device-integrations.jpg');
}

.project_container .api-image::before {
    background-image: url('../images/api-integration.jpg');
}

.project_container .system-integration-image::before {
    background-image: url('../images/system-integration.jpg');
}

@media ( max-width: 850px ) { 
    .project_container .feature-container {
        flex-direction: column;
        width: 95%;
    }
    .project_container .feature-container .content-container {
        width: 90%;
        position: relative;
        box-shadow: 0px 0px 30px 0px var(--color-dark-blue);
        text-align: left;
        background-color: var( --color-medium-blue );
        padding: 30px;
        margin-top: -20px;
    }
    .project_container .feature-container .content {
        background: none;
        padding: 0;
        box-shadow: none;
    }
    .project_container .feature-container .languages a { 
        margin-left: 0;
        margin-right: 15px;

    }
    .project_container .feature-container .image {
        width: 100%;
        height: 300px;
        position: relative;
    }

    .project_container .other-container {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px; 
        width: 100%;
        z-index: 1;
    }
}

@media ( max-width: 500px ) {
    .project_container .other-container {
        display: grid; 
        grid-template-columns: repeat(1, 1fr); 
        gap: 30px; 
        width: 100%;
        z-index: 1;
    }
}

/* Experience Section */
.experience_container {
    width: 90%;
    max-width: 700px;
    padding: 50px 0;
}

.experience_container .action-link {
    margin-top: 20px;
}

.experience_container h3 {
    margin-bottom: 20px;
}

.experience_container .cv-item {
    padding-bottom: 20px;
    text-align: left;
}

.experience_container .cv-item p {
    margin-top: 5px;
}

.experience_container .cv-item h5 {
    font-size: 18px;
}

/* Animations */
@keyframes animateOutline {
    0% {
        outline-offset: 0;
        outline-color: rgba(0, 130, 206, 0);
    }
    
    10% {
      outline-width: 1px;
      outline-color: rgba(234, 153, 40, 0.75);
    }
  
    /* The animation finishes at 50% */
    50% {
      outline-width:2px;
      outline-offset: 10px;
      outline-color: rgba(0, 130, 206, 0);
    }
  
    100% {
      outline-width: 2px;
      outline-offset: 10px;
      outline-color: rgba(102, 102, 102, 0);
    }
}