@import url( 'base.css' );
@import url( 'themify-icons/themify-icons.css' );
/* Sizes
@media ( min-width: 600px ) { }
@media ( min-width: 1000px ) { }
@media ( min-width: 1200px ) { }
@media ( min-width: 1400px ) { }
@media ( min-width: 1900px ) { } 
*/
/* Main elements */
main, section {
    width: 100%;
    min-height: 100%;
}

main {
    height: 100%;
    display: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    scrollbar-width: 0;
}

section {
    border: 1px solid red;
    display: block;
    text-align: center;
}

/* Navigation */
aside {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    position: fixed;
    width: 90%;
    max-width: 400px;
    height: 100%;
    background-color: rgb(17, 34, 64);
    right: 0;
}
nav {
    padding: 50px;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: var( --color-white );
    margin: 20px 0;
    border: 1px solid li;
    text-align: center;
    transition: all .5s;
}

nav a:hover {
    color: var( --color-vibrant );
    transform: scale(1.1);
}

nav a span {
    color: var( --color-vibrant );
    /* display: block; */
}

nav .selected {
    color: var( --color-vibrant );
    text-shadow: 0px 0px 5px var( --color-vibrant );
    transform: scale(1.1);
}

/* Temp elements for testing */
section h1 {
    margin-top: 20%;
}
.myClass {
    color: tomato;
}

#mobile_results {
    position: fixed;
    color: antiquewhite;
    background-color: rgb( 179, 58, 58 );
    margin-top: 2%;
    right: 0;
    width: 70%;
    padding: 20px 40px;
    font-size: 16px;
}