@import url( 'base.css' );
@import url( 'themify-icons/themify-icons.css' ); 
nav {
    position: fixed;

}
nav a {
    display: block;
    padding: 20px;
    color: aliceblue;
}
main, section {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

main {
    background-color: rgba(34, 255, 0, 0.1);
    display: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    scrollbar-width: 0;
}

section {
    border: 1px solid red;
    display: block;
    text-align: center;
}

section h1 {
    margin-top: 20%;
}



/* Temp elements for testing */
.myClass {
    font-weight: bold;
    color: burlywood;
}

#mobile_results {
    position: fixed;
    color: antiquewhite;
    background-color: rgb( 179, 58, 58 );
    margin-top: 2%;
    right: 0;
    width: 70%;
    padding: 20px 40px;
    font-size: 16px;
}