@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --background-grid: linear-gradient( to right, var( --color-dark-blue-tint ) 1px, transparent 1px ), linear-gradient( to bottom, var( --color-dark-blue-tint ) 1px, transparent 1px );
    --color-dark-blue: rgb( 15, 23, 42 );
    --color-dark-blue-tint: rgb( 23, 34, 59 );
    --color-vibrant: rgb( 234, 153, 40 );
    --color-white: #eee;
    --color-shadow: rgba( 67, 110, 211, 0.15 );
    --cursor-box-shadow-small: 0px 0px 600px 150px var( --color-shadow );
    --cursor-box-shadow-large: 0px 0px 12000px 300px var( --color-shadow );
}